/*------------------------------------------------*/
/*	Skin: Light/Dark Mode
/*------------------------------------------------*/

/* GLOBAL */
* {
    scrollbar-color: Var(--list-border) Var(--dark-gray);
}

::selection {
    background: #0044ffae;
}

body {
    color: Var(--text-color) !important;
}

#wrapper {
    background: radial-gradient(circle, Var(--gradient-base) 0%, Var(--gradient-dark) 75%) fixed !important;
}

a {
    color: Var(--text-color);
}



/* HEADER BAR */
#header {
    background-color: Var(--header-bg);
    color: Var(--nav-text-color) !important;
    font-weight: 600;
}

    #header .row, #header .row a{
        color: Var(--nav-text-color) !important;
        text-shadow: Var(--text-stroke) !important;
    }

        #header .row #imgUser {
            border: none;
            box-shadow: Var(--img-shadow);
            -webkit-box-shadow: Var(--img-shadow);
            -moz-box-shadow: Var(--img-shadow);
        }
    #header #lblUser {
        border-bottom: 1px solid Var(--nav-text-color);
    }


/* SIDEBAR */
#aside {
    color: Var(--nav-text-color) !important;
    font-weight: 600;
}

    #aside a {
        color: Var(--nav-text-color);
        text-shadow: Var(--text-stroke);
    }

        #aside a:focus, #aside .active {
            background-color: Var(--active-bg) !important;
            color: Var(--active-txt);
            text-shadow: none !important;
        }

#aside, #asidebg {
    background-color: Var(--dark-gray);
}

.nav li a, .nav li button {
    border-top: 1px solid Var(--list-border) !important;
    text-shadow: Var(--text-stroke) !important;
}

.nav li:last-child > a, .nav li:last-child > button{
    border-bottom: 1.95px solid Var(--list-border) !important;
}

.nav li:last-child > a:last-child{
    border-bottom: none !important;
}

.nav li a:hover, .nav li button:hover, #aside .menu-open > a, #aside a:hover {
    background-color: Var(--hover-bg) !important;
    color: Var(--hover-txt);
    text-shadow: none !important;
}

.color-mode-button button {
    color: Var(--text-color) !important;
/*    text-shadow: Var(--text-stroke) !important;*/
}

.color-mode-button button:hover {
    color: Var(--text-color) !important;
    text-shadow: 0px 0px 8px Var(--text-color) !important;
    opacity: 1;
}

/* FORMS */
.form-control, .form-control:focus, div .form-label-group input:focus {
    color: Var(--text-color) !important;
    background-color: Var(--form-bg) !important;
    border-color: Var(--active-bg) !important;
    box-shadow: 3px 3px 5px 0px #0000007b !important;
}


.panel-primary > .panel-heading{
    color: Var(--active-txt) !important;
    background-color: Var(--active-bg) !important;
}

.dashboard .panel {
    border-color: Var(--active-bg) !important;
}

.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th, .panel-body thead tr th {
    border: 1px solid Var(--list-border) !important;
}

.panel-body thead tr, .panel-body, .panel-primary .panel-body .panel {
    background-color: Var(--gradient-dark) !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: Var(--table-stripe-light) !important;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: Var(--table-stripe-dark) !important;
}

.panel-primary .panel-body .panel .btn-primary {
    background-color: Var(--active-bg) !important;
    border-color: Var(--nav-text-color) !important;
    color: Var(--active-txt) !important;
    transition: filter 0.25s !important;
}

    .panel-primary .panel-body .panel .btn-primary:hover, .panel-primary .panel-body .panel .btn-primary[disabled] {
        filter: brightness(75%) !important;
        opacity: 1 !important;
    }

.themis-logo::after {
    background-color: Var(--logo-tint);
}

.themis-text {
    color: Var(--logo-text-tint);
}







/* COLOR SCHEME NAV LIST */
#aside nav ul .fc li button:hover > i {
    color: Var(--hover-txt) !important;
    filter: none;
}

#baseTheme i {
    color: Var(--text-color);
    filter: none;
}

#redTheme i {
    color: red !important;
    filter: Var(--theme-icon-shade);
}

#orangeTheme i {
    color: orange !important;
    filter: Var(--theme-icon-shade);
}

#yellowTheme i {
    color: yellow !important;
    filter: Var(--theme-icon-shade);
}

#greenTheme i {
    color: lime !important;
    filter: Var(--theme-icon-shade);
}

#blueTheme i {
    color: blue !important;
    filter: Var(--theme-icon-shade);
}

#cyanTheme i {
    color: cyan !important;
    filter: Var(--theme-icon-shade);
}

#purpleTheme i {
    color: blueviolet !important;
    filter: Var(--theme-icon-shade);
}

#color-schemes-nav, #color-schemes-nav:hover, #color-schemes-nav, .menu-open #color-schemes-nav {
    animation: rainbow 1.5s linear infinite !important;
}

@keyframes rainbow {
    100%,0% {
        color: rgb(255,0,0) !important;
    }

    8% {
        color: rgb(255,127,0);
    }

    16% {
        color: rgb(255,255,0);
    }

    25% {
        color: rgb(127,255,0);
    }

    33% {
        color: rgb(0,255,0);
    }

    41% {
        color: rgb(0,255,127);
    }

    50% {
        color: rgb(0,255,255);
    }

    58% {
        color: rgb(0,127,255);
    }

    66% {
        color: rgb(0,0,255);
    }

    75% {
        color: rgb(127,0,255);
    }

    83% {
        color: rgb(255,0,255);
    }

    91% {
        color: rgb(255,0,127);
    }
}