/*------------------------------------------------*/
/*	Skin: Red
/*------------------------------------------------*/
/* general */
a {
  color: #f73838 !important;
}
a:hover, a:focus {
  color: #e80909 !important;
}

.top-bar {
  background-color: #ab1d1d !important;
}
.top-bar .top-bar-right .btn-link {
  color: #f0a4a4 !important;
}
.top-bar .top-bar-right .btn-link:hover {
  color: #fff !important;
}
.top-bar .notifications .count {
  border-color: #ab1d1d !important;
}
.top-bar .searchbox input[type="search"] {
  background-color: #6a1212 !important;
  border-color: #6a1212 !important;
}
.top-bar .searchbox .btn {
  background-color: #c12121 !important;
  border-color: #6a1212 !important;
}
.top-bar .searchbox .btn i {
  color: #6a1212 !important;
}
.top-bar .searchbox .btn:hover {
  border-color: #6a1212 !important;
}
.top-bar .searchbox .btn:hover i {
  color: #540e0e !important;
}

/* widget */
.widget {
  border-color: #dd3737 !important;
}
.widget .widget-header {
  background-color: #ab1d1d !important;
  border-bottom-color: #951919 !important;
  color: #fff !important;
}
.widget .widget-header em {
  color: #fff !important;
}
.widget .widget-header .btn-help {
  color: #e14d4d !important;
}
.widget .widget-header .widget-header-toolbar {
  border-left-color: #9e1b1b !important;
}
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff !important;
}
.widget .widget-header .btn-group > a {
  color: #fff !important;
}
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #ffc3c3 !important;
}

/* main content */
.main-header h2 {
  color: #881717 !important;
  border-right-color: #dd3737 !important;
}
.main-header em {
  color: #b81f1f !important;
}

/* footer */
.footer {
  background-color: #ab1d1d !important;
}
