.typing-animation {
	position: relative;
	margin: 30px 50% 44px;
	transform: translateX(-50%);
	padding-right: 10px;
	text-align: center;
	width: 0%;
	opacity: 0;
	max-width: fit-content;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	border-right: none;
	font-size: 15px;
	animation: typing 10s steps(75, end) 1s forwards;
}

	.typing-animation::after {
		content: "";
		border-right: none;
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		right: 0;
		animation: blink-caret .75s step-end 1s 12 backwards;
	}

@keyframes typing {
	from {
		width: 0%;
		opacity: 1;
	}

	to {
		width: 100%;
		opacity: 1;
	}
}

@keyframes blink-caret {
	from, to {
		border-right: none;
	}

	50% {
		border-right: 2px solid var(--bs-body-color);
	}
}

.fade-in.show {
	opacity: 0;
	animation: fade-in 1s ease-out forwards;
}

.fade-out:not(.show) {
	opacity: 1;
	animation: fade-out 1s ease-out forwards;
}

.fade-slide-in.show {
	opacity: 0;
	animation: fade-slide-in 1s ease-out forwards;
}

.fade-slide-out:not(.show) {
	opacity: 1;
	animation: fade-slide-out 1s ease-out forwards;
}

.fade-slide-in-delay.show {
	opacity: 0;
	animation: fade-slide-in 1s 2s ease-out forwards;
}

.fade-slide-down {
	animation: fade-slide-down 0.75s ease-out forwards;
}

.emphasize:not(:hover) {
	animation: emphasize 1s ease-in-out infinite;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-slide-in {
	from {
		opacity: 0;
		transform: translateY(2%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-slide-out {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(2%);
	}
}

@keyframes fade-slide-down {
	from {
		transform: translateY(0%);
	}

	to {
		transform: translateY(25%);
	}
}

@keyframes emphasize {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}