:root {
	--bs-body-font-family: "Noto Sans", sans-serif !important;
	--bs-body-font-weight: 400;
}
.lato-thin {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.lato-light {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-bold {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lato-black {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.lato-thin-italic {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.lato-light-italic {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.lato-regular-italic {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.lato-bold-italic {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.lato-black-italic {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
}




.noto-sans-thin {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.noto-sans-thin-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: italic;
}

.noto-sans-extra-light {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.noto-sans-extra-light-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: italic;
}

.noto-sans-light {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.noto-sans-light-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: italic;
}

.noto-sans-regular {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.noto-sans-regular-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.noto-sans-medium {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.noto-sans-medium-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: italic;
}

.noto-sans-semi-bold {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.noto-sans-semi-bold-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}

.noto-sans-bold {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.noto-sans-bold-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: italic;
}

.noto-sans-extra-bold {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.noto-sans-extra-bold-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: italic;
}

.noto-sans-black {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

.noto-sans-black-italic {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
}