/* 
	---==={{{ Main Layout }}}===---

	CSS for Main Layout items in a project created using the COS/CWLP Portal Template


	---=== CONTENTS ===---

	1 - Global
	2 - Page Header
	3 - Nav Menu
	4 - Home Page
	5 - Forms
	6 - Sections, Containers, Cards, & Tabs
	7 - Charts
	8 - Prism Code Blocks
	9 - Responsive
		9a - Desktop
			9a.1 - Global
			9a.2 - Page Header
			9a.3 - Nav Menu
			9a.4 - Sections, Containers, Cards, & Tabs
		9b - Mobile
			9b.1 - Page Header
			9b.2 - Nav Menu
			9b.3 - Sections, Containers, Cards, & Tabs
	
*/



/* --------------- Global --------------- */
* {
	box-sizing: border-box;
	transition: background-color 0.3s ease;
}

html {
	width: 100vw;
	height: 100vh;
	overflow: hidden auto;
	scroll-behavior: auto !important;
}

body {
	height: 100%;
}

.page {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1;
}

.content {
	position: relative;
	padding: calc(86px + 3rem) 3rem 2.5rem 3rem !important;
}



/* --------------- Page Header --------------- */
.menu-box-shadow {
	box-shadow: 259px 10px 20px 0px rgba(0, 0, 0, .75);
	-moz-box-shadow: 259px 10px 20px 0px rgba(0, 0, 0, .75);
	-webkit-box-shadow: 259px 10px 20px 0px rgba(0, 0, 0, .75);
}

.top-row {
	width: 100vw;
	height: 85px;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-style: normal;
	z-index: 100;
	color: var(--color-theme-text);
}

	.top-row a, .top-row .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
	}

		.top-row a:first-child {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.top-row a:active, .top-row a:focus {
			color: var(--color-theme-text) !important;
		}
.site-logo {
	width: 60px;
	margin-left: 20px;
}

.site-title {
	font-size: 38px;
}

.user-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.user-info .user-stack {
		min-width: 140px;
		padding-right: 10px;
		display: flex;
		flex-direction: column;
	}

		.user-info .user-stack :not(:last-child) {
			font-weight: 600;
		}

.user-department {
	font-size: 10.5pt;
}

.user-division {
	font-size: 9pt;
	line-height: 1;
}

.user-avatar {
	margin-right: 20px;
}



/* --------------- Nav Menu --------------- */
.sidebar {
	width: 100%;
	z-index: 100;
	position: absolute;
}

.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
	display: flex;
	font-size: 1.5rem;
	margin: 0 !important;
	align-items: flex-end;
	color: var(--color-theme-text);
	text-decoration: none !important;
}

	.navbar-brand p {
		margin: 0;
		align-self: center;
	}

	.navbar-brand span {
	}

	.navbar-brand:hover {
		color: inherit;
	}

.nav-item .oi, .nav-item .fas, .nav-item .fa, .nav-item .fa-brands, .nav-item .bi {
	font-size: 1rem;
	vertical-align: text-top;
	top: -2px;
	margin-left: 5px;
}

.nav-item {
	font-size: 0.9rem;
	padding: 0 !important;
	font-weight: 400;
	font-style: normal;
	border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	color: var(--color-theme-text);
	transition: color 0.1s;
}

	.nav-item:first-of-type {
		padding-top: 1rem;
		border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	}

	.nav-item:last-of-type {
		padding-bottom: 1rem;
	}

	.nav-item a {
		padding: 30px 10px !important;
		width: 100%;
		height: 3rem;
		display: flex;
		align-items: center;
		line-height: 3rem;
		justify-content: space-between;
		padding: 10px;
		transition: all 0.3s;
	}

	.nav-item .switchSetting {
		border-radius: 4px;
		height: 3rem;
		display: flex;
		align-items: center;
		line-height: 3rem;
		justify-content: space-between;
		padding: 10px;
		transition: all 0.3s;
	}

	.nav-item a span {
		transition: padding-left 0.3s;
	}

	.nav-item a p {
		transition: padding-right 0.3s;
	}

.activePage, .nav-link.active {
	background-color: var(--active-bg) !important;
	color: var(--active-text);
}

.accordion:has(div.show) .btn-accordion.nav-link, .accordion:has(a.activePage) .btn-accordion.nav-link {
	background-color: var(--active-bg-subtle);
	color: var(--color-theme-text);
}


.accordion-border {
	position: relative;
	border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

	.accordion-border::before {
		content: "";
		display: block;
		position: absolute;
		top: 1px;
		bottom: 24px;
		left: 20px;
		border-left: var(--bs-border-color) 1px dotted;
		z-index: 0;
	}

	.accordion-border .nav-link {
		padding: 10px 10px !important;
	}

		.accordion-border .nav-link:not(.accordion-button) {
			position: relative;
			width: 85%;
			margin-left: 15%;
		}

		.accordion-border .nav-link.activePage {
			background-color: var(--active-bg) !important;
			color: var(--active-text);
		}

		.accordion-border .nav-link::before {
			content: "";
			display: block;
			position: absolute;
			left: -8%;
			right: 102%;
			top: 1.5rem;
			border-top: var(--bs-border-color) 1px dotted;
		}

		.accordion-border .nav-link:not(:last-child) {
			border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
		}

#appDevToolsParent {
	position: absolute;
	width: 100%;
	bottom: 0;
}

#AppDevToolsMenu {
	border-top: none !important;
}

#appDevToolsParent .btn-accordion:not(.collapsed) {
	border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

#appDevToolsParent .accordion-border::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 1px;
	top: 24px;
	left: 20px;
	border-left: var(--bs-border-color) 1px dotted;
	z-index: 0;
}



/* --------------- Home Page --------------- */
.welcome-text {
	font-size: 55px;
	margin-top: 30px;
	color: var(--color-theme-text);
}



/* --------------- Forms --------------- */
::placeholder {
	color: rgba(var(--bs-body-color-rgb), 0.25) !important;
}

input[type="date"] {
	cursor: text !important;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

.date-period-separator {
	height: 100% !important;
	border: none !important;
	background-color: transparent !important;
}

.form-check-inline input[type="checkbox"], .form-check-inline input[type="radio"] {
	--bs-form-check-bg: var(--bs-body-bg);
	flex-shrink: 0;
	width: 1em;
	height: 1em;
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--bs-form-check-bg);
	background-image: var(--bs-form-check-bg-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
}

.form-check-inline input[type=radio] {
	border-radius: 50%;
}

span.form-check-input:has(input[type=checkbox]), .form-check-inline input[type=checkbox] {
	border-radius: .25em;
}

span.form-check-input:has(input[type=radio]), .form-check-inline input[type=radio] {
	border-radius: 50%;
}

.form-header {
	height: 225px;
	box-shadow: 5px 5px 5px 0px #0000007b;
	position: relative;
	z-index: 10;
}

	.form-header h1 {
		font-size: 4rem;
		color: var(--color-theme-text) !important;
	}

.form-page {
	box-shadow: 5px 5px 5px 0px #0000007b;
}

.form-section {
	padding-top: 1.5rem !important;
	margin: 1.5rem 0 0.5rem 0 !important;
	border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.required-field {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

select:disabled, .disabled-control, .disabled-control input {
	border: none !important;
	box-shadow: none !important;
	filter: opacity(0.75) !important;
}

	.disabled-control label {
		color: gray !important;
	}

	.disabled-control .required-field {
		display: none;
	}

	select:disabled:hover, .disabled-control input:hover {
		cursor: default !important;
	}

.form-select {
	transition: background-color 0.3s ease;
}

.input-group:has([data-control-type="shape-button"]) {
	position: relative;
	width: unset;
}

[data-control-type="shape-button"] {
	cursor: pointer;
}

.shape-button {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.ext-split {
	flex: 0.25 1 auto !important;
}

.form-table {
	position: relative !important;
}

.row-add {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.row-delete {
	border: none !important;
	position: absolute;
	bottom: 25%;
	right: -30px;
	font-family: "Font Awesome 6 Pro" !important;
	font-weight: 900;
	font-size: 15px;
	color: white;
	background-color: var(--bs-danger);
	border-radius: 100%;
	padding: 0;
	height: 22px;
	width: 22px;
	padding-left: 0.5px;
	padding-bottom: 0.5px;
	line-height: 1;
	transition: 0.3s ease-in-out;
}

	.row-delete:hover {
		color: var(--bs-danger);
		background-color: white;
	}

option:disabled {
	color: rgb(from var(--bs-body-color) r g b / 25%) !important;
}

option:not([selected]):not(:disabled) {
	color: rgb(from var(--bs-body-color) r g b / 100%) !important;
}

.settingSwitch, .settingSwitch-input input {
	width: 3em !important;
	height: 1.5em !important;
	margin: 0 !important;
	cursor: pointer !important;
}

.upperCaseField input {
	text-transform: uppercase;
}

.invalid-border {
	border: 2px solid var(--bs-danger) !important;
}



/* --------------- SECTIONS, CONTAINERS, CARDS, & TABS --------------- */
.section-label {
	width: 100%;
	font-size: 24px;
	font-weight: 500;
	border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	margin-bottom: 0.75rem;
}

.pill-container-label {
	font-size: 24px;
	font-weight: 500;
	border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	margin-bottom: 0.75rem;
}

.item-label {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.card {
	min-height: 80vh;
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
}

.custom-tab-div .tab-pane .form-header {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.custom-tab-div:has(> .nav-tabs) .tab-pane .form-header {
	border-top-left-radius: 0 !important;
}

.tab-pane .card {
	min-height: 75vh;
	max-width: 100%;
	border: none;
	border-radius: 15px;
}

	.tab-pane .card .card-header {
		border: var(--bs-border-width) solid var(--custom-theme-border-color);
		border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
		border-top-right-radius: 15px;
		border-top-left-radius: 0;
	}

	.tab-pane .card .card-body {
		border: var(--bs-border-width) solid var(--custom-theme-border-color);
		border-top: none;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

.tab-pane:has(> .card .card-footer .panel) .card {
	border-top: none;
}

	.tab-pane:has(> .card .card-footer .panel) .card .card-body {
		border-bottom: none !important;
		border-radius: 0 !important;
	}

	.tab-pane:has(> .card .card-footer .panel) .card .card-footer {
		border: var(--bs-border-width) solid var(--custom-theme-border-color);
		border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
	}

.tab-pane .card .card-footer {
	border: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.tab-pane .card .card-footer td:first-child {
	border-bottom-left-radius: 15px;
}
	.tab-pane .card .card-footer td:last-child {
		border-bottom-right-radius: 15px;
	}

.card-header {
	padding: 25px;
}

	.card-header h3 {
		margin: 0;
		color: var(--color-theme-text) !important;
	}

.card-body {
	border-radius: var(--bs-border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card:has(> .card-footer .panel) .card-body {
	border-radius: 0;
}

.card-footer .panel, .card-footer .table {
	border-bottom: transparent;
}

.card-footer {
	border: none;
}

	.card-footer:has(> .panel) {
		border-top: var(--bs-card-border-width) solid var(--bs-card-border-color)
	}

	.card-footer td:first-child {
		border-bottom-left-radius: 15px;
	}

	.card-footer td:last-child {
		border-bottom-right-radius: 15px;
	}

.nav-tabs {
	border-bottom: none;
}

	.nav-tabs .nav-link:not(.active) {
		background-color: var(--active-bg-subtle);
		color: var(--color-theme-text);
	}

	.nav-tabs .nav-link.active {
		color: var(--active-text);
		border-bottom: none;
	}

.tab-content {
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
	border-radius: 15px;
	border-top-left-radius: 0;
	padding: 10px;
	background-color: var(--bs-secondary-bg);
	-webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
	-moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
}

.tab-border-header {
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
	border-bottom: none;
	border-top-right-radius: 15px;
}

.tab-border-body {
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
	border-top: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.nav-tabs .nav-link.active {
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
}

.overlap-panels {
	display: grid;
	grid-template-columns: 1fr;
}

	.overlap-panels div {
		grid-row-start: 1;
		grid-column-start: 1;
	}

.tooltip {
	--bs-tooltip-max-width: 400px;
}

.tooltip[x-placement=top] {
	top: -5px !important;
}

.tooltip .arrow {
	display: block;
	width: var(--bs-tooltip-arrow-width);
	height: var(--bs-tooltip-arrow-height);

}

.tooltip .arrow::before {
	position: absolute;
	content: "";
	border-color: transparent;
	border-style: solid;
}

.bs-tooltip-end .arrow, .bs-tooltip-right .arrow {
	position: absolute;
	left: -5px;
	width: var(--bs-tooltip-arrow-height);
	height: var(--bs-tooltip-arrow-width);
}

	.bs-tooltip-end .arrow::before, .bs-tooltip-right .arrow::before {
		left: -1px;
		border-width: calc(var(--bs-tooltip-arrow-width) * 0.5) var(--bs-tooltip-arrow-height) calc(var(--bs-tooltip-arrow-width) * 0.5) 0;
		border-right-color: var(--bs-tooltip-bg);
	}

.bs-tooltip-top .arrow {
	position: absolute;
	bottom: -5px;
	width: var(--bs-tooltip-arrow-height);
	height: var(--bs-tooltip-arrow-width);
}

	.bs-tooltip-top .arrow::before {
		bottom: -1px;
		border-width: calc(var(--bs-tooltip-arrow-width) * 0.5) var(--bs-tooltip-arrow-height) calc(var(--bs-tooltip-arrow-width) * 0.5) 0;
		border-right-color: var(--bs-tooltip-bg);
	}

.audit-link {
	display: block;
	padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
	font-size: var(--bs-nav-link-font-size);
	font-weight: var(--bs-nav-link-font-weight);
	color: var(--bs-nav-link-color);
	text-decoration: none;
	background: 0 0;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border .15s ease-in-out;
}

.audit-content {
	transition: all .3s;
}



/* --------------- Charts --------------- */
.jsChart {
	border: var(--bs-border-width) solid var(--custom-theme-border-color);
	border-radius: 15px;
	padding: 10px;
	background-color: var(--bs-secondary-bg);
	-webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
	-moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
	box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75)
}

.jsChartTabs .jsChart {
	border: none;
	border-radius: 0;
	padding: 0;
	background-color: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.chart-controls {
	display: flex !important;
	justify-content: space-between !important;
}

	.chart-controls.button-group {
		justify-content: space-around !important;
	}

.chart-control[data-control-type="range"] {
	width: unset !important;
	align-self: center;
}



/* --------------- Prism Code Blocks --------------- */
pre[class*=language-] {
	border-radius: 5px;
	margin: 0;
	font-size: 0.875em;
}

.copy-to-clipboard-button {
	margin-right: 15px;
}

.labelRow {
	height: max-content;
}

.codePane.show:has(.codeGrow), .codePane.show:has(.codeRowGrow) {
	display: flex !important;
	flex-direction: column;
}

.codeRowGrow {
	height: 100%;
}

.codeCol {
	display: flex !important;
	flex-direction: column;
	height: 100%;
}

.codeGrow {
	display: flex !important;
	flex-direction: column;
	flex: 1 1 auto;
}

	.codeGrow .code-toolbar, .codeGrow .code-toolbar .codeNoClip {
		height: 100%;
	}



/* --------------- Colors --------------- */
.color-theme-text {
		color: var(--color-theme-text) !important;
}



/* --------------- Responsive --------------- */
/* Desktop */
@media (min-width: 641px) {
	/* ----------- Global ----------- */
	.page {
		flex-direction: row;
	}

	.content {
		padding: calc(86px + 3rem) 3rem 2.5rem calc(250px + 3rem) !important;
	}


	/* ----------- Page Header ----------- */
	.top-row {
		position: fixed;
		top: 0;
	}


	/* ----------- Nav Menu ----------- */
	.sidebar {
		width: 250px;
		height: 100%;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		-webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
		-moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
		box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .75);
	}

	.navbar-toggler, .actions-toggler {
		display: none;
	}

	.nav-item a:hover {
		background-color: var(--active-bg) !important;
		color: var(--active-text) !important;
	}

		.nav-item a:hover span {
			padding-left: 5%;
		}

		.nav-item a:hover p {
			padding-right: 5%;
		}

	#sidebarCollapse.collapse:not(.show) {
		flex: 1 1 auto;
		margin-top: 87px;
		display: block !important;
		overflow-y: auto;
		scrollbar-width: none;
		position: relative;
	}

	.accordion-border a.nav-link:hover span {
		padding-left: 5%;
	}

	.accordion-border a.nav-link:hover p {
		padding-right: 5%;
	}


	/* ----------- Sections, Containers, Cards, & Tabs ----------- */
	.custom-tab-div {
		max-width: 1320px;
		margin: 0 auto;
	}	

	.col-md-1hf {
		flex: 0 0 auto;
		width: 4.166666666%;
	}

	.col-md-2hf {
		flex: 0 0 auto;
		width: 12.5%;
	}

	.col-md-3hf {
		flex: 0 0 auto;
		width: 20.833333333%;
	}

	.col-md-4hf {
		flex: 0 0 auto;
		width: 29.166666666%;
	}

	.col-md-5hf {
		flex: 0 0 auto;
		width: 37.5%;
	}

	.col-md-6hf {
		flex: 0 0 auto;
		width: 45.83333333%;
	}

	.col-md-7hf {
		flex: 0 0 auto;
		width: 54.166666666%;
	}

	.col-md-8hf {
		flex: 0 0 auto;
		width: 62.5%;
	}

	.col-md-9hf {
		flex: 0 0 auto;
		width: 70.83333333%;
	}

	.col-md-10hf {
		flex: 0 0 auto;
		width: 79.166666666%;
	}

	.col-md-11hf {
		flex: 0 0 auto;
		width: 87.5%;
	}

	.col-md-12hf {
		flex: 0 0 auto;
		width: 95.83333333%;
	}
}


/* Mobile */
@media (max-width: 640.98px) {
	/* ----------- Page Header ----------- */
	.menu-box-shadow {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

	.top-row a, .top-row .btn-link {
		margin-left: 0;
	}

	.site-logo {
		width: 45px;
		margin-left: 20px;
	}

	.site-title {
		font-size: 28px;
	}

	.top-row .user-info {
		display: none;
	}


	/* ----------- Nav Menu ----------- */
	.sidebar {
		box-shadow: 0 10px 20px 0px #000000c1;
		-moz-box-shadow: 0 10px 20px 0px #000000c1;
		-webkit-box-shadow: 0 10px 20px 0px #000000c1;
	}

	.nav-item {
		padding: 0 !important;
	}

		.nav-item a:focus {
			background-color: var(--active-bg-subtle) !important;
		}

	.accordion-border::before {
		content: "";
		display: block;
		position: absolute;
		top: 1px;
		bottom: 23px;
		left: 34px;
		border-left: var(--bs-border-color) 1px dotted;
		z-index: 0;
	}


	/* ----------- Sections, Containers, Cards, & Tabs ----------- */
	.row.mb-3 div {
		padding-bottom: 0.5rem;
	}

	.card-body, .card-footer {
		overflow-x: scroll;
	}
}