.themis-logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: url('../images/icons/favicon/web-app-manifest-512x512.png') no-repeat;
	background-size: contain;
}

.site-title {
	font-size: 45px;
}

.backBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 100% !important;
	transform: scale(0.75);
	transition: all 0.3s;
}

.statusDropDown {
	position: absolute;
	bottom: 25px;
	right: 75px;
	width: 25%;
}

.statusDropDown select {
	background-color: var(--bs-tertiary-bg);
}

#statusIcon {
	line-height: 1.5;
	margin-right: 30px;
}

.backBtn span {
	transform: scale(1.5);
}

.backBtn:hover {
	transform: scale(0.95);
}

.ordActionBtn {
	transition: all 0.3s;
}

	.ordActionBtn:hover {
		transform: scale(1.2) !important;
	}