<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataLibrary.Properties.Settings.ThemisDB" connectionString="Data Source=gthintdbt6\sqltest2017;Initial Catalog=THEMIS;Integrated Security=True" />
        <add name="DataLibrary.Properties.Settings.ThemisDBPROD" connectionString="Data Source=gthintdbt6\sqltest2017;Initial Catalog=THEMIS;Integrated Security=True" />
        <add name="DataLibrary.Properties.Settings.EmployeeDirectoryDB"
            connectionString="Data Source=mcwintdb14\sqlinternal;Initial Catalog=EmployeeDirectory;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <DataLibrary.Properties.Settings>
            <setting name="userTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="ExchangeIP" serializeAs="String">
                <value>10.14.13.35</value>
            </setting>
            <setting name="NewFactSheetEmailListPROD" serializeAs="String">
                <value>gregory.moredock@springfield.il.us,mike.lesko@cwlp.com</value>
            </setting>
            <setting name="NewFactSheetEmailList" serializeAs="String">
                <value />
            </setting>
        </DataLibrary.Properties.Settings>
    </applicationSettings>
</configuration>