<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLibrary.Properties.Settings.Database" connectionString="Data Source=gthintdbt6\sqltest2017;Initial Catalog=Themis;Integrated Security=True;User Id=SA-Themis;Password=Ticket15204!;" />
        <add name="DataLibrary.Properties.Settings.DatabasePROD" connectionString="Data Source=mcwintdb14\sqlinternal;Initial Catalog=Themis;Integrated Security=True;User Id=SA-Themis;Password=Ticket15204!;" />
    </connectionStrings>
</configuration>