/*------------------------------------------------*/
/*	Skin: Dark Blue
/*------------------------------------------------*/
/* general */
a {
  color: #489dc1 !important;
}
a:hover, a:focus {
  color: #347a98 !important;
}

.top-bar {
  background-color: #1e6887 !important;
}
.top-bar .top-bar-right .btn-link {
  color: #8ccbe5 !important;
}
.top-bar .top-bar-right .btn-link:hover {
  color: #fff !important;
}
.top-bar .notifications .count {
  border-color: #1e6887 !important;
}
.top-bar .searchbox input[type="search"] {
  background-color: #103848 !important;
  border-color: #103848 !important;
}
.top-bar .searchbox .btn {
  background-color: #23789c !important;
  border-color: #103848 !important;
}
.top-bar .searchbox .btn i {
  color: #195872 !important;
}
.top-bar .searchbox .btn:hover {
  border-color: #103848 !important;
}
.top-bar .searchbox .btn:hover i {
  color: #15485d !important;
}

/* widget */
.widget {
  border-color: #2c98c6 !important;
}
.widget .widget-header {
  background-color: #1e6887 !important;
  border-bottom-color: #195872 !important;
  color: #fff !important;
}
.widget .widget-header em {
  color: #fff !important;
}
.widget .widget-header .btn-help {
  color: #38a5d3 !important;
}
.widget .widget-header .widget-header-toolbar {
  border-left-color: #1b5e7a !important;
}
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff !important;
}
.widget .widget-header .btn-group > a {
  color: #fff !important;
}
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #cef1ff !important;
}

/* main content */
.main-header h2 {
  color: #174e66 !important;
  border-right-color: #2c98c6 !important;
}
.main-header em {
  color: #217294 !important;
}

/* footer */
.footer {
  background-color: #1e6887 !important;
}
