@import "bootstrap-scss/_functions.scss";
@import "bootstrap-scss/_variables.scss";
@import "bootstrap-scss/_mixins.scss";
@import "bootstrap-scss/_forms.scss";
@import "../css/Colors.scss";
@import "_data-color-theme.scss";

@function color-theme-text($mode, $color, $value) {
	@if $mode == light {
		@if $color != base {
			@return tint-color($value, 15%);
		}
		@else {
			@return $body-color;
		}
	}
	@else {
		@if $color != base {
			@return tint-color($value, 15%);
		}
		@else {
			@return $body-color-dark;
		}
	}
}
@function color-theme-subtle($mode, $color, $value) {
	@if $mode == light {
		@return rgba($value, 0.15);
	}
	@else {
		@if $color != base {
			@return rgba($value, 0.15);
		}
		@else {
			@return rgba($black, 0.15);
		}
	}
}



/* --------------- Variables --------------- */
@include color-mode(light) {
	--bs-body-bg: #dddddd;
	--bs-body-bg-rgb: rgb(221, 221, 221);
	--bs-secondary-bg: #ffffff;
	--bs-secondary-bg-rgb: rgb(255, 255, 255);
	--bs-tertiary-bg: #e9ecef;
	--bs-tertiary-bg-rgb: rgb(233, 236, 239);
	--bs-border-color: rgba(0, 0, 0, 0.25);
	--chart-border-color: rgba(0, 0, 0, 0.35);
	--chart-line-color: rgba(35, 35, 35, 0.75);
	--bs-primary-text-emphasis: #005ce3;
	--bs-table-dark-bg: #fafafa;
	/*--bs-warning-light: #cf9c00;*/
	--bs-warning-light: #e2aa00;
}

@each $color, $value in $color-themes {
	@include color-theme(light, $color) {
		$color-theme-text: color-theme-text(light, $color, $value);
		$color-theme-active-bg: tint-color($value, 15%);
		$color-theme-active-bg-subtle: color-theme-subtle(light, $color, $value);
		$color-theme-active-border-subtle: rgba($color-theme-active-bg-subtle, 0.01);
		$color-theme-border-color: $color-theme-text;
		$color-theme-check-color: rgba($color-theme-text, 0.99);
		$checkbox-checked-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$color-theme-check-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
		$radio-checked-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$color-theme-check-color}'/></svg>");
		--color-theme-text: #{$color-theme-text};
		--active-bg: #{$color-theme-active-bg};
		--active-bg-subtle: #{$color-theme-active-bg-subtle};
		--active-border-subtle: #{$color-theme-active-border-subtle};
		--active-text: white;
		--custom-theme-border-color: #{$color-theme-border-color};
		--tooltip-color: white;

		.form-check-inline input:checked[type=checkbox] {
			--bs-form-check-bg-image: #{$checkbox-checked-image} !important;
		}

		.form-check-inline input:checked[type=radio] {
			--bs-form-check-bg-image: #{$radio-checked-image} !important;
		}
	}

	@include color-mode(light) {
		$color-theme-text: color-theme-text(light, $color, $value);
		$color-theme-active-bg-subtle: color-theme-subtle(light, $color, $value);

		##{$color}Option {
			color: #{$color-theme-text};
		}

		@if $color != base {
			##{$color}Switch {
				background-color: #{$color-theme-active-bg-subtle} !important;

				&:checked {
					background-color: #{$color-theme-text} !important;
				}
			}
		}
	}
}

@include color-mode(dark) {
	--bs-border-color: rgba(255, 255, 255, 0.25);
	--chart-border-color: rgba(255, 255, 255, 0.25);
	--chart-line-color: rgba(167, 167, 167, 0.65);
}

@each $color, $value in $color-themes {
	@include color-theme(dark, $color) {
		$color-theme-text: color-theme-text(dark, $color, $value);
		$color-theme-active-bg: tint-color($value, 15%);
		$color-theme-active-bg-subtle: color-theme-subtle(dark, $color, $value);
		$color-theme-border-color: rgba($value, 0.35);
		$color-theme-check-color: rgba($color-theme-text, 0.99);
		$checkbox-checked-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$color-theme-check-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
		$radio-checked-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$color-theme-check-color}'/></svg>");
		--color-theme-text: #{$color-theme-text};
		--active-bg: #{$color-theme-active-bg};
		--active-bg-subtle: #{$color-theme-active-bg-subtle};
		--active-text: white;
		--custom-theme-border-color: #{$color-theme-border-color};
		--tooltip-color: white;

		.form-check-inline input:checked[type=checkbox] {
			--bs-form-check-bg-image: #{$checkbox-checked-image} !important;
		}

		.form-check-inline input:checked[type=radio] {
			--bs-form-check-bg-image: #{$radio-checked-image} !important;
		}
	}

	@include color-mode(dark) {
		$color-theme-text: color-theme-text(dark, $color, $value);
		$color-theme-active-bg-subtle: color-theme-subtle(dark, $color, $value);

		##{$color}Option {
			color: #{$color-theme-text};
		}

		@if $color != base {
			##{$color}Switch {
				background-color: #{$color-theme-active-bg-subtle} !important;

				&:checked {
					background-color: #{$color-theme-text} !important;
				}
			}
		}
	}
}

[data-color-theme=base] {
	--custom-theme-border-color: var(--bs-border-color);
}



/* --------------- Body --------------- */
.bg-body {
	--bs-bg-opacity: 1;
	background-color: var(--bs-body-bg) !important;
}

.bg-body-secondary {
	--bs-bg-opacity: 1;
	background-color: var(--bs-secondary-bg) !important;
}

.bg-body-tertiary {
	--bs-bg-opacity: 1;
	background-color: var(--bs-tertiary-bg) !important;
}



/* --------------- Forms --------------- */
.form-control, .form-select, .input-group-text {
	border-color: var(--custom-theme-border-color);
}

.input-group-text {
	background-color: var(--active-bg-subtle);
}

.form-control:read-only {
	background-color: var(--bs-secondary-bg);
	opacity: 1;
}

.form-control:disabled {
	background-color: var(--bs-secondary-bg);
	opacity: 0.5;
}

label:has(+ .form-control:disabled) {
	opacity: 0.25;
}

[data-color-theme=base] .form-control:focus, [data-color-theme=base] .form-select:focus {
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.form-control:focus, .form-select:focus {
	border-color: var(--custom-theme-border-color);
	box-shadow: 0 0 0 .25rem var(--custom-theme-border-color);
}

.form-check:not(.form-switch) .form-check-input {
	border: none;
}

.form-check:not(.form-switch) .form-check-input:checked {
	background-color: rgb(29, 30, 32) !important;
	border: none;
}

.form-switch .form-check-input:not(:checked):focus {
	border-color: rgba(0, 0, 0, 0.25) !important;
	box-shadow: none !important;
}

.form-switch .form-check-input:checked:focus {
	box-shadow: none !important;
}

.setting-form-check-input input:not(:checked):focus {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(0, 0, 0, 0.25)'/></svg>");
	border-color: rgba(0, 0, 0, 0.25);
	box-shadow: none;
}

.setting-form-check-input input:checked:focus {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgb(255, 255, 255)'/></svg>");
	box-shadow: none;
}

[data-bs-theme='dark'] .table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: var(--bs-body-bg);
}

.table-striped > tbody > tr:nth-of-type(even) > * {
	background-color: var(--bs-secondary-bg);
}

[data-bs-theme='light'] .table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: var(--bs-table-dark-bg);
}

.table-striped > tbody > tr:nth-of-type(odd) > td .form-select, .table-striped > tbody > tr:nth-of-type(odd) > td .form-control {
	background-color: var(--bs-tertiary-bg);
}

.table-striped > tbody > tr:nth-of-type(even) > td .form-select, .table-striped > tbody > tr:nth-of-type(even) > td .form-control {
	background-color: var(--bs-secondary-bg);
}

.table-standard > tbody > tr > * {
	background-color: var(--bs-secondary-bg);
}

td:has(.form-select), td:has(.form-control) {
	padding: 0;
}

td .form-select, td .form-control {
	padding: .5rem .5rem;
	border: none;
	border-radius: 0;
}

.form-switch .form-check-input:not(.settingSwitch):focus, td .form-select:focus, td .form-control {
	border: none;
	box-shadow: unset;
}

.form-switch .form-check-input input:hover {
	cursor: pointer !important;
}

input[type="range"]::-webkit-slider-thumb {
	background-color: var(--active-bg);
	border: 1px solid var(--bs-body-color);
}

input[type="range"]::-webkit-slider-runnable-track {
	border: 1px solid var(--active-bg-subtle);
}

[data-color-theme="base"] input[type="range"]::-webkit-slider-thumb {
	background-color: var(--bs-body-color);
}

input[type="range"]:focus::-webkit-slider-thumb {
	border: 1px solid var(--bs-body-color);
	box-shadow: unset;
	background-color: var(--active-bg);
}

[data-color-theme="base"] input[type="range"]:focus::-webkit-slider-thumb {
	background-color: var(--bs-body-color);
}

[data-control-type="shape-button"] {
	color: var(--active-bg);
}

[data-control-type="shape-button"] {
	color: var(--active-bg);
}

[data-color-theme="base"] [data-control-type="shape-button"] {
	color: var(--bs-body-color);
}

.active-bg-subtle {
	fill: var(--active-bg-subtle);
}

.form-switch .form-check-input:not([name="colorThemeRadio"]), .form-switch .setting-form-check-input input {
	background-color: var(--active-bg-subtle) !important;
}

.form-switch .form-check-input:not([name="colorThemeRadio"]):checked, .form-switch .setting-form-check-input input:checked {
	background-color: var(--active-bg) !important;
}

.form-switch.theme-switch .form-check-input:checked {
	background-image: url('../images/icons/theme-dark.svg') !important;
	background-size: 38.2% !important;
	background-position-x: 90%;
}

.form-switch.theme-switch .form-check-input {
	background-image: url('../images/icons/theme-light.svg') !important;
	background-size: 38.9% !important;
	background-position-x: 10%;
}

.btn-close:focus {
	box-shadow: none;
}

.btn-sort {
	padding: unset !important;
	width: 100%;
	color: unset !important;
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-color: var(--bs-link-hover-color);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-color: var(--bs-link-hover-color);
	--bs-btn-active-border-color: transparent;
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-border-color: transparent;
	--bs-btn-box-shadow: 0 0 0 #000;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
}

input[type="file"]::-webkit-file-upload-button {
	color: white !important;
	background-color: var(--bs-primary) !important;
	transition: background-color .15s ease-in-out !important;
}

input[type="file"]:hover::-webkit-file-upload-button {
	background-color: darken($primary, 15%) !important;
}

a.aspNetDisabled, [type="submit"][readonly] {
	background-color: var(--bs-secondary-bg);
	opacity: 1;
	pointer-events: none !important;
	--bs-form-select-bg-img: none !important;
	border-color: var(--bs-secondary-bg);
}
[readonly="true"] {
	input, select, .form-select, textarea, .radioListDiv .form-check input {
		background-color: var(--bs-secondary-bg);
		opacity: 1;
		pointer-events: none !important;
		--bs-form-select-bg-img: none !important;
	}

	label {
		/*opacity: 0.5 !important;*/
		pointer-events: none;
	}

	&.readonly-color {
		input, select, .form-select, textarea, .radioListDiv .form-check input, .list-group-item {
			color: var(--bs-primary-text-emphasis) !important;
		}
	}

	::-webkit-calendar-picker-indicator {
		display: none;
	}
}

.mw-0 {
	max-width: 0;
}



/* --------------- Prism Code Blocks --------------- */
[data-bs-theme="dark"] pre[class*=language-] {
	background: var(--bs-body-bg) !important;
}

[data-bs-theme="dark"] .language-javascript,
[data-bs-theme="dark"] .language-js,
[data-bs-theme="dark"] .language-csharp {
	color: #8ddaff !important;
}

[data-bs-theme="dark"] .token.operator,
[data-bs-theme="dark"] .token.punctuation {
	color: #ccc !important;
	background-color: transparent !important;
}

[data-bs-theme="light"] pre[class*=language-] {
	background: var(--bs-tertiary-bg) !important;
}

[data-bs-theme="light"] .language-javascript,
[data-bs-theme="light"] .language-js,
[data-bs-theme="light"] .language-csharp {
	color: #4000ff !important;
}

[data-bs-theme="light"] .token.operator,
[data-bs-theme="light"] .token.punctuation {
	color: #808080 !important;
	background-color: transparent !important;
}
[data-bs-theme="light"] .token.namespace {
	color: #994200 !important;
	background-color: transparent !important;
}




[data-bs-theme="light"] .text-warning-light {
	color: darken($warning, 8%);
}

[data-bs-theme="dark"] .text-warning-light {
	color: var(--bs-warning);
}

[data-bs-theme="light"] .text-hazard {
	color: darken($orange-500, 8%);
}

[data-bs-theme="dark"] .text-hazard {
	color: $orange-500;
}

.lh-1p5 {
	line-height: 1.5;
}

.support-link {
	text-decoration: none;
	color: var(--color-theme-text);
}

.tooltip {
	--bs-tooltip-bg: var(--color-theme-text);
	--bs-tooltip-opacity: 1;
	--bs-tooltip-color: var(--tooltip-color);
}

.bs-tooltip-right {
	/*left: 10px !important;*/
}

.fs-7 {
	font-size: .9rem;
}