[data-bs-theme=light] {
  --bs-body-bg: #dddddd;
  --bs-body-bg-rgb: rgb(221, 221, 221);
  --bs-secondary-bg: #ffffff;
  --bs-secondary-bg-rgb: rgb(255, 255, 255);
  --bs-tertiary-bg: #e9ecef;
  --bs-tertiary-bg-rgb: rgb(233, 236, 239);
  --bs-border-color: rgba(0, 0, 0, 0.25);
  --chart-border-color: rgba(0, 0, 0, 0.35);
  --chart-line-color: rgba(35, 35, 35, 0.75);
}

[data-bs-theme=light][data-color-theme=base] {
  --color-theme-text: #212529;
  --active-bg: #424649;
  --active-bg-subtle: rgba(33, 37, 41, 0.15);
  --active-text: white;
  --custom-theme-border-color: #212529;
}
[data-bs-theme=light][data-color-theme=base] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(33, 37, 41, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=base] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(33, 37, 41, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #baseOption {
  color: #212529;
}

[data-bs-theme=light][data-color-theme=red] {
  --color-theme-text: #be4b56;
  --active-bg: #be4b56;
  --active-bg-subtle: rgba(178, 43, 56, 0.15);
  --active-text: white;
  --custom-theme-border-color: #be4b56;
}
[data-bs-theme=light][data-color-theme=red] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(190, 75, 86, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=red] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(190, 75, 86, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #redOption {
  color: #be4b56;
}
[data-bs-theme=light] #redSwitch {
  background-color: rgba(178, 43, 56, 0.15) !important;
}
[data-bs-theme=light] #redSwitch:checked {
  background-color: #be4b56 !important;
}

[data-bs-theme=light][data-color-theme=orange] {
  --color-theme-text: #d57d34;
  --active-bg: #d57d34;
  --active-bg-subtle: rgba(205, 102, 16, 0.15);
  --active-text: white;
  --custom-theme-border-color: #d57d34;
}
[data-bs-theme=light][data-color-theme=orange] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(213, 125, 52, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=orange] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(213, 125, 52, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #orangeOption {
  color: #d57d34;
}
[data-bs-theme=light] #orangeSwitch {
  background-color: rgba(205, 102, 16, 0.15) !important;
}
[data-bs-theme=light] #orangeSwitch:checked {
  background-color: #d57d34 !important;
}

[data-bs-theme=light][data-color-theme=yellow] {
  --color-theme-text: #d5ac2b;
  --active-bg: #d5ac2b;
  --active-bg-subtle: rgba(206, 157, 5, 0.15);
  --active-text: white;
  --custom-theme-border-color: #d5ac2b;
}
[data-bs-theme=light][data-color-theme=yellow] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(213, 172, 43, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=yellow] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(213, 172, 43, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #yellowOption {
  color: #d5ac2b;
}
[data-bs-theme=light] #yellowSwitch {
  background-color: rgba(206, 157, 5, 0.15) !important;
}
[data-bs-theme=light] #yellowSwitch:checked {
  background-color: #d5ac2b !important;
}

[data-bs-theme=light][data-color-theme=green] {
  --color-theme-text: #3c996e;
  --active-bg: #3c996e;
  --active-bg-subtle: rgba(25, 135, 84, 0.15);
  --active-text: white;
  --custom-theme-border-color: #3c996e;
}
[data-bs-theme=light][data-color-theme=green] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(60, 153, 110, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=green] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(60, 153, 110, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #greenOption {
  color: #3c996e;
}
[data-bs-theme=light] #greenSwitch {
  background-color: rgba(25, 135, 84, 0.15) !important;
}
[data-bs-theme=light] #greenSwitch:checked {
  background-color: #3c996e !important;
}

[data-bs-theme=light][data-color-theme=teal] {
  --color-theme-text: #3eb79e;
  --active-bg: #3eb79e;
  --active-bg-subtle: rgba(28, 170, 141, 0.15);
  --active-text: white;
  --custom-theme-border-color: #3eb79e;
}
[data-bs-theme=light][data-color-theme=teal] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(62, 183, 158, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=teal] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(62, 183, 158, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #tealOption {
  color: #3eb79e;
}
[data-bs-theme=light] #tealSwitch {
  background-color: rgba(28, 170, 141, 0.15) !important;
}
[data-bs-theme=light] #tealSwitch:checked {
  background-color: #3eb79e !important;
}

[data-bs-theme=light][data-color-theme=cyan] {
  --color-theme-text: #2fa4bb;
  --active-bg: #2fa4bb;
  --active-bg-subtle: rgba(10, 148, 175, 0.15);
  --active-text: white;
  --custom-theme-border-color: #2fa4bb;
}
[data-bs-theme=light][data-color-theme=cyan] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(47, 164, 187, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=cyan] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(47, 164, 187, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #cyanOption {
  color: #2fa4bb;
}
[data-bs-theme=light] #cyanSwitch {
  background-color: rgba(10, 148, 175, 0.15) !important;
}
[data-bs-theme=light] #cyanSwitch:checked {
  background-color: #2fa4bb !important;
}

[data-bs-theme=light][data-color-theme=blue] {
  --color-theme-text: #2d71d5;
  --active-bg: #2d71d5;
  --active-bg-subtle: rgba(8, 88, 206, 0.15);
  --active-text: white;
  --custom-theme-border-color: #2d71d5;
}
[data-bs-theme=light][data-color-theme=blue] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(45, 113, 213, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=blue] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(45, 113, 213, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #blueOption {
  color: #2d71d5;
}
[data-bs-theme=light] #blueSwitch {
  background-color: rgba(8, 88, 206, 0.15) !important;
}
[data-bs-theme=light] #blueSwitch:checked {
  background-color: #2d71d5 !important;
}

[data-bs-theme=light][data-color-theme=purple] {
  --color-theme-text: #7d34f4;
  --active-bg: #7d34f4;
  --active-bg-subtle: rgba(102, 16, 242, 0.15);
  --active-text: white;
  --custom-theme-border-color: #7d34f4;
}
[data-bs-theme=light][data-color-theme=purple] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(125, 52, 244, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=purple] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(125, 52, 244, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #purpleOption {
  color: #7d34f4;
}
[data-bs-theme=light] #purpleSwitch {
  background-color: rgba(102, 16, 242, 0.15) !important;
}
[data-bs-theme=light] #purpleSwitch:checked {
  background-color: #7d34f4 !important;
}

[data-bs-theme=light][data-color-theme=pink] {
  --color-theme-text: #dc5296;
  --active-bg: #dc5296;
  --active-bg-subtle: rgba(214, 51, 132, 0.15);
  --active-text: white;
  --custom-theme-border-color: #dc5296;
}
[data-bs-theme=light][data-color-theme=pink] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(220, 82, 150, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=light][data-color-theme=pink] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(220, 82, 150, 0.99)'/></svg>") !important;
}

[data-bs-theme=light] #pinkOption {
  color: #dc5296;
}
[data-bs-theme=light] #pinkSwitch {
  background-color: rgba(214, 51, 132, 0.15) !important;
}
[data-bs-theme=light] #pinkSwitch:checked {
  background-color: #dc5296 !important;
}

[data-bs-theme=dark] {
  --bs-border-color: rgba(255, 255, 255, 0.25);
  --chart-border-color: rgba(255, 255, 255, 0.25);
  --chart-line-color: rgba(167, 167, 167, 0.65);
}

[data-bs-theme=dark][data-color-theme=base] {
  --color-theme-text: #dee2e6;
  --active-bg: #424649;
  --active-bg-subtle: rgba(0, 0, 0, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(33, 37, 41, 0.35);
}
[data-bs-theme=dark][data-color-theme=base] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(222, 226, 230, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=base] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(222, 226, 230, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #baseOption {
  color: #dee2e6;
}

[data-bs-theme=dark][data-color-theme=red] {
  --color-theme-text: #be4b56;
  --active-bg: #be4b56;
  --active-bg-subtle: rgba(178, 43, 56, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(178, 43, 56, 0.35);
}
[data-bs-theme=dark][data-color-theme=red] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(190, 75, 86, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=red] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(190, 75, 86, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #redOption {
  color: #be4b56;
}
[data-bs-theme=dark] #redSwitch {
  background-color: rgba(178, 43, 56, 0.15) !important;
}
[data-bs-theme=dark] #redSwitch:checked {
  background-color: #be4b56 !important;
}

[data-bs-theme=dark][data-color-theme=orange] {
  --color-theme-text: #d57d34;
  --active-bg: #d57d34;
  --active-bg-subtle: rgba(205, 102, 16, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(205, 102, 16, 0.35);
}
[data-bs-theme=dark][data-color-theme=orange] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(213, 125, 52, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=orange] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(213, 125, 52, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #orangeOption {
  color: #d57d34;
}
[data-bs-theme=dark] #orangeSwitch {
  background-color: rgba(205, 102, 16, 0.15) !important;
}
[data-bs-theme=dark] #orangeSwitch:checked {
  background-color: #d57d34 !important;
}

[data-bs-theme=dark][data-color-theme=yellow] {
  --color-theme-text: #d5ac2b;
  --active-bg: #d5ac2b;
  --active-bg-subtle: rgba(206, 157, 5, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(206, 157, 5, 0.35);
}
[data-bs-theme=dark][data-color-theme=yellow] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(213, 172, 43, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=yellow] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(213, 172, 43, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #yellowOption {
  color: #d5ac2b;
}
[data-bs-theme=dark] #yellowSwitch {
  background-color: rgba(206, 157, 5, 0.15) !important;
}
[data-bs-theme=dark] #yellowSwitch:checked {
  background-color: #d5ac2b !important;
}

[data-bs-theme=dark][data-color-theme=green] {
  --color-theme-text: #3c996e;
  --active-bg: #3c996e;
  --active-bg-subtle: rgba(25, 135, 84, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(25, 135, 84, 0.35);
}
[data-bs-theme=dark][data-color-theme=green] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(60, 153, 110, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=green] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(60, 153, 110, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #greenOption {
  color: #3c996e;
}
[data-bs-theme=dark] #greenSwitch {
  background-color: rgba(25, 135, 84, 0.15) !important;
}
[data-bs-theme=dark] #greenSwitch:checked {
  background-color: #3c996e !important;
}

[data-bs-theme=dark][data-color-theme=teal] {
  --color-theme-text: #3eb79e;
  --active-bg: #3eb79e;
  --active-bg-subtle: rgba(28, 170, 141, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(28, 170, 141, 0.35);
}
[data-bs-theme=dark][data-color-theme=teal] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(62, 183, 158, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=teal] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(62, 183, 158, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #tealOption {
  color: #3eb79e;
}
[data-bs-theme=dark] #tealSwitch {
  background-color: rgba(28, 170, 141, 0.15) !important;
}
[data-bs-theme=dark] #tealSwitch:checked {
  background-color: #3eb79e !important;
}

[data-bs-theme=dark][data-color-theme=cyan] {
  --color-theme-text: #2fa4bb;
  --active-bg: #2fa4bb;
  --active-bg-subtle: rgba(10, 148, 175, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(10, 148, 175, 0.35);
}
[data-bs-theme=dark][data-color-theme=cyan] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(47, 164, 187, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=cyan] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(47, 164, 187, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #cyanOption {
  color: #2fa4bb;
}
[data-bs-theme=dark] #cyanSwitch {
  background-color: rgba(10, 148, 175, 0.15) !important;
}
[data-bs-theme=dark] #cyanSwitch:checked {
  background-color: #2fa4bb !important;
}

[data-bs-theme=dark][data-color-theme=blue] {
  --color-theme-text: #2d71d5;
  --active-bg: #2d71d5;
  --active-bg-subtle: rgba(8, 88, 206, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(8, 88, 206, 0.35);
}
[data-bs-theme=dark][data-color-theme=blue] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(45, 113, 213, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=blue] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(45, 113, 213, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #blueOption {
  color: #2d71d5;
}
[data-bs-theme=dark] #blueSwitch {
  background-color: rgba(8, 88, 206, 0.15) !important;
}
[data-bs-theme=dark] #blueSwitch:checked {
  background-color: #2d71d5 !important;
}

[data-bs-theme=dark][data-color-theme=purple] {
  --color-theme-text: #7d34f4;
  --active-bg: #7d34f4;
  --active-bg-subtle: rgba(102, 16, 242, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(102, 16, 242, 0.35);
}
[data-bs-theme=dark][data-color-theme=purple] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(125, 52, 244, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=purple] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(125, 52, 244, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #purpleOption {
  color: #7d34f4;
}
[data-bs-theme=dark] #purpleSwitch {
  background-color: rgba(102, 16, 242, 0.15) !important;
}
[data-bs-theme=dark] #purpleSwitch:checked {
  background-color: #7d34f4 !important;
}

[data-bs-theme=dark][data-color-theme=pink] {
  --color-theme-text: #dc5296;
  --active-bg: #dc5296;
  --active-bg-subtle: rgba(214, 51, 132, 0.15);
  --active-text: white;
  --custom-theme-border-color: rgba(214, 51, 132, 0.35);
}
[data-bs-theme=dark][data-color-theme=pink] .form-check-inline input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='rgba(220, 82, 150, 0.99)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !important;
}
[data-bs-theme=dark][data-color-theme=pink] .form-check-inline input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='rgba(220, 82, 150, 0.99)'/></svg>") !important;
}

[data-bs-theme=dark] #pinkOption {
  color: #dc5296;
}
[data-bs-theme=dark] #pinkSwitch {
  background-color: rgba(214, 51, 132, 0.15) !important;
}
[data-bs-theme=dark] #pinkSwitch:checked {
  background-color: #dc5296 !important;
}

[data-color-theme=base] {
  --custom-theme-border-color: var(--bs-border-color);
}

.bg-body {
  --bs-bg-opacity: 1;
  background-color: var(--bs-body-bg) !important;
}

.bg-body-secondary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-secondary-bg) !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-tertiary-bg) !important;
}

.form-control, .form-select {
  border-color: var(--custom-theme-border-color);
}

.form-control:read-only {
  background-color: var(--bs-secondary-bg);
  opacity: 1;
}

.form-control:disabled {
  background-color: var(--bs-secondary-bg);
  opacity: 0.5;
}

label:has(+ .form-control:disabled) {
  opacity: 0.25;
}

[data-color-theme=base] .form-control:focus, [data-color-theme=base] .form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control:focus, .form-select:focus {
  border-color: var(--custom-theme-border-color);
  box-shadow: 0 0 0 0.25rem var(--custom-theme-border-color);
}

.form-check-input {
  border: none;
}

.form-check-input:checked {
  background-color: rgb(29, 30, 32) !important;
  border: none;
}

.form-check-input:focus {
  border: none;
  box-shadow: unset;
}

.form-check-input input:hover {
  cursor: pointer !important;
}

.form-switch:not(.theme-switch) .form-check-input:not([name=colorThemeRadio]) {
  background-color: var(--active-bg-subtle) !important;
  border: 1px solid var(--active-bg);
}

.form-switch:not(.theme-switch) .form-check-input:not([name=colorThemeRadio]):checked {
  background-color: var(--active-bg) !important;
  border: none;
}

.form-switch.theme-switch .form-check-input:checked {
  background-image: url("../images/icons/theme-dark.svg") !important;
}

.form-switch.theme-switch .form-check-input {
  background-image: url("../images/icons/theme-light.svg") !important;
}

[data-bs-theme=dark] pre[class*=language-] {
  background: var(--bs-body-bg) !important;
}

[data-bs-theme=dark] .language-javascript,
[data-bs-theme=dark] .language-js,
[data-bs-theme=dark] .language-csharp {
  color: #8ddaff !important;
}

[data-bs-theme=dark] .token.operator,
[data-bs-theme=dark] .token.punctuation {
  color: #ccc !important;
  background-color: transparent !important;
}

[data-bs-theme=light] pre[class*=language-] {
  background: var(--bs-tertiary-bg) !important;
}

[data-bs-theme=light] .language-javascript,
[data-bs-theme=light] .language-js,
[data-bs-theme=light] .language-csharp {
  color: #4000ff !important;
}

[data-bs-theme=light] .token.operator,
[data-bs-theme=light] .token.punctuation {
  color: #808080 !important;
  background-color: transparent !important;
}

[data-bs-theme=light] .token.namespace {
  color: #994200 !important;
  background-color: transparent !important;
}
